.layoutHeader{
    box-shadow: 0px 5px 20px #e2f2f9;
    position: relative;
    height: 70px;
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    background-image: url('./image/logo.png');
    background-size: 120px 31px;
  }
}
.layout{
  min-width: 1500px;
}

.userLogin{
  width: 200px;
  height:70px;
  line-height: 70px;
  float: right;
  display: flex;
  align-items:center;
  .userInfo{
    background-image: url('./image/userinfo.jpg');
    border-radius: 50%;
    border: none;
    background-size: 35px 35px;
    width:35px;
    height:35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }
}